*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    width: 100%;
    background-color: rgb(253, 106, 43);
    position: fixed;
    z-index: 1;

}
.container-header{
  padding-left:70px; 
  padding-right:70px; 
  padding-top:10px;
  padding-bottom: 10px;
}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-size: medium;
    text-decoration: none;
}

a, i, h4, h5{
    color: white;
    margin-left: 10px ;
}
#logo{
    max-width: 150px;
}


/* main */
.container{
    max-width: 800px;
    margin: 0 auto;
   

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    row-gap: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.col{
    width: calc(80% / 3 - 10px); 
   
}
/* stile prodotti */
.product{
    position: relative;
}

.product img{
    width: 100%;
    margin: 0 auto;
}

.hearts{
    position: absolute;
    top: 3px;
    right: 0;
    background-color: white;
    padding: 2px 5px;
}

.hearts:hover{
    color: red;
}

.sconto{
    background-color: red; 
}
.sostenibilità{
    background-color: green;
}

.sconto, .sostenibilità{
    color: white;
    padding: 5px;
    
}

.position-sconto-sost{
    position: absolute;
    bottom: 100px;
    left: 3px;

}

    /* stile descrizione articolo */
    .brand, .costi{
        font-size: smaller;
    }

    .descrizione{
        font-size: small;
        font-weight: bold;
    }

    .costo::after{
        content: '\20AC' ;
    }

    .scontato{
        color: red;
        font-weight: bold
    }
    
    .normale{
        text-decoration: line-through;
        margin-left: 10px;
    }

        /* modalita comparsa scomparsa foto */
        .show{
            display: block;
        }
        .hidden{
            display: none;
        }

        .product:hover .hidden{
            display: block;
        }

        .product:hover .show{
            display: none;
        }


/* footer */
footer{
    width: 100%;
    background-color: rgb(39, 39, 39);
    
}
.container-footer{
    padding-left:70px; 
    padding-right:70px; 
    padding-top:30px;
    padding-bottom: 30px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
}

h4, h5{
    margin-bottom: 5px;
}

h4{
    font-size: larger;
}

h5{
   font-size: small;
}