*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    width: 100%;
    background-color: rgb(253, 106, 43);
    position: fixed;
}
.container-header{
  padding-left:70px; 
  padding-right:70px; 
  padding-top:10px;
  padding-bottom: 10px;
}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-size: medium;
    text-decoration: none;
}

a, i{
    color: white;
    margin-left: 10px ;
}
#logo{
    max-width: 150px;
}